@model Pizza
    <h1>@ViewData["Title"]</h1>
    <hr />
<h4>Pizza : @ViewBag.pizza.Name</h4>
<h6>Price : @ViewBag.pizza.Price</h6>
<h6>Size : @ViewBag.pizza.Size</h6>
<h6>Extras : @ViewBag.pizza.HasExtras</h6>